.flex-wrapper {
  display: flex;

  @include m(aln-ctr) {
    align-items: center;
  }

  @include m(jty-ctr) {
    justify-content: center;
  }

  @include m(ctr) {
    justify-content: center;
    align-items: center;
  }
}

.mt {
  @include m(5) {
    margin-top: 5px;
  }

  @include m(30) {
    margin-top: 30px;
  }
}

// test

.comment-block {
  .comment-block {
    margin-left: 15px;
  }
}
