.preloader-block {
  pointer-events: none;

  > * {
    animation: flicker 1s infinite linear;
  }

  @include e(content) {
    width: 75%;
    height: 15px;
    background: $gray-lighter;

    &.md {
      width: 50%;
    }

    &.sm {
      width: 100px;

      @include mq(xs) {
        width: 200px;
      }
    }
  }
}

// animation for prelaoder
@keyframes flicker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
